.title-bar {
  background: $primary;
  .container {
    max-width: $page-width;
  }
}

.title-bar__brand {
  color: lighten($primary, 45) !important;
}

.title-bar__link {
  color: lighten($primary, 45);
}

.title-bar__link:hover{
  color: $white;
}
