.title-bar {
  background: $primary;
  .container {
    max-width: $page-width;
  }
}

.title-bar__brand {
  color: white !important;
}

.title-bar__link {
  color: $gray-200;
}

.title-bar__link:hover{
  color: $white;
}
